# Data — solo ignorar archivos crudos dentro de data/, no globalmente
data/raw/**/*.csv
data/raw/**/*.zip
data/raw/**/*.gz
data/processed/**/*.parquet
data/processed/**/*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
